.container{
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: var(--color-black-light);

 & img{
  max-width: 500px;
  width: 80%;
 }

 & h3{
  margin: 8px 0 0 0;
  font-size: var(--size18);
  font-weight: 600;
  color: var(--color-white-normal);
  max-width: 600px;
  width: 80%;
  text-align: center;
  line-height: 1.2em;


  @media screen and (min-width: 768px){
   &{
    font-size: var(--size24);
   }
  }
 }

 & a{
  margin: 32px 0 0 0;
  font-size: var(--size16);
  font-weight: 400;
  color: var(--color-gray-normal);
  transition: .3s;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover{
   color: var(--color-orange-normal);
  }
 }
}