.btnAdd {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color-white-normal);
  color: var(--color-black-dark);
  transition: 0.3s;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size16);

  &:hover {
    background: var(--color-orange-normal);
  }
}
