.btnAdd {
  width: 28px;
  height: 28px;
  background: none;
  border-image: var(--gradient-primary) 1;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  color: var(--color-white-normal);
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size16);
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;

  &:hover {
    color: var(--color-white-normal);
    background: var(--gradient-primary);
  }
}
