.container {
  max-width: 500px;
  width: 100%;

  & .contentPdf {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;

    .frame {
      width: 100%;
      height: 100%;
    }

    .btnFull {
      position: absolute;
      right: 36px;
      bottom: 20px;
      background: none;
      border: none;
      color: var(--color-orange-normal);
      font-size: var(--size18);
      font-weight: 400;
    }
  }
}
