.container {
  flex: 1;
  min-height: calc(100vh - 70px);
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1025px) {
    padding: 48px;
  }
}
