.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("/assets/bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  & .header {
    width: 100%;
    height: 75px;
    background: var(--color-black-normal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    & .contentLogo {
      width: 100%;
      max-width: 130px;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        width: 100%;
        height: auto;
      }
    }

    & a {
      width: 40%;
      max-width: 120px;
      height: auto;
      padding: 8px 16px;
      background: var(--gradient-primary);
      font-weight: 400;
      font-size: var(--size16);
      color: var(--color-white-normal);
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      transition: 0.3s;

      & svg {
        margin: 0 4px 0 0;
        font-size: var(--size18);
      }
    }

    @media screen and (min-width: 768px) {
      padding: 20px 36px;
    }
  }

  .body {
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    & .popup {
      max-width: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: 16px;
      border-radius: 6px;
      background: var(--color-white-normal);
      padding: 36px 20px;
      overflow: hidden;
      animation: glow 2s linear infinite;

      & h1 {
        font-size: var(--size24);
        font-weight: 600;
        color: var(--color-black-normal);
        z-index: 2;
        text-align: center;
      }

      & p {
        font-size: var(--size16);
        font-weight: 400;
        color: var(--color-black-light);
        text-align: center;
        z-index: 2;

        @media screen and (min-width: 768px) {
          max-width: 80%;
        }
      }

      & a {
        margin: 16px 0 0 0;
        max-width: 180px;
        width: 100%;
        height: auto;
        padding: 12px 16px;
        background: var(--gradient-primary);
        font-weight: 400;
        font-size: var(--size16);
        color: var(--color-white-normal);
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        transition: 0.3s;
        animation: pulse 2s infinite;
        z-index: 2;

        & svg {
          margin: 0 4px 0 0;
          font-size: var(--size18);
        }

        @keyframes pulse {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(1);
          }
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border-radius: 15px;
        border: 5px solid transparent;
        background-image: linear-gradient(white, white),
          linear-gradient(45deg, red, blue, green, yellow, purple, orange, red);
        background-clip: padding-box, border-box;
        animation: border-animation 3s linear infinite;
      }

      @keyframes border-animation {
        0% {
          background-position: 0% 0%;
        }
        100% {
          background-position: 100% 100%;
        }
      }

      @keyframes glow {
        0% {
          box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
        }
        50% {
          box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
        }
        100% {
          box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
        }
      }
    }

    @media screen and (min-width: 768px) {
      padding: 36px;
    }
  }
}
