.container {
  width: 100%;
  height: auto;

  .contentTitle {
    width: 100%;
    display: flex;
    gap: 8px;

    & .title {
      font-size: var(--size16);
      font-weight: 500;
      color: var(--color-white-normal);
      display: flex;
      align-items: center;
      gap: 4px;

      & svg {
        color: var(--color-gray-normal);
      }
    }
  }

  & .contentClasses {
    margin: 12px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 0 0 24px;

    & .class {
      font-size: var(--size16);
      font-weight: 400;
      color: var(--color-gray-normal);
      display: flex;
      align-items: center;
      gap: 8px;

      & .checkbox {
        all: unset;
        width: 16px;
        height: 16px;
        border-radius: 1px;
        position: relative;
        border: 1px solid var(--color-gray-normal);
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: none;
        }

        &:checked {
          background-color: var(--color-green-light);
          border: 1px solid var(--color-green-light);

          &::before {
            content: "✓";
            color: var(--color-gray-normal);
            display: block;
            font-size: 16px;
          }
        }
      }

      & .linkClass {
        max-width: 90%;
        width: auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border: none;
        background: none;
        color: var(--color-gray-normal);
        font-size: var(--size16);
        font-weight: 400;
      }
    }
  }
}
